@import url('https://fonts.googleapis.com/css?family=Cutive|Cutive+Mono');

.App {
  margin: 20px;
}

.line-options {
  font-size: 18px;
}

.social {
  width: 160px;
  margin-left: -3px;
  margin-top: 5px;
}

.shuffleall {
  width: 153px;
}

h1 {
  font-family: Cutive;
}

h2, .btn-group {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Cutive Mono';
}

.lowerbuttons {
  margin-top: 20px;
}

button {
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: darkgray !important;
}

.active {
  background-color: darkgray;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 20px;
  }
  .container {
    text-align: center;
  }
  .lowerbuttons {
    width: 150px;
    margin: auto;
    margin-top: 30px;
  }
}

/* * {
  border-style: solid;
  border-width: 1px;
} */
