.App {
  margin: 20px;
}

.line-options {
  font-size: 18px;
}

.social {
  width: 160px;
  margin-left: -3px;
  margin-top: 5px;
}

.shuffleall {
  width: 153px;
}

h2, .btn-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.lowerbuttons {
  margin-top: 20px;
}

/* * {
  border-style: solid;
  border-width: 1px;
} */
